@import url('https://fonts.googleapis.com/css2?family=Abel&family=Mukta:wght@300&family=Playfair+Display:wght@600&display=swap');

:root {
    --primary: rgb(207, 50, 48);
    --secondary: #09367a;
    --accent1: #fff5ec;
    --accent1b: #ffeddd;
    --accent2: #331e38;

}

/* preliminary css rulesets fo rwebsite */
body {
    min-width: 375px;
    display: flex;
    flex-direction: column;
    background: var(--accent1);
    text-align: center;
    margin: 0 auto;
}
h1 {
    color: var(--primary);
    font-family: 'Playfair Display', serif;
}
h2, h3, h4 {
    color: var(--secondary);
    font-family: 'Mukta', sans-serif;
}
p {
    color: var(--accent2);
    font-family: 'Abel', sans-serif;
}
a {
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid var(--secondary);
}
/* navigation section of website */
nav h1 {
    margin: 0;
    font-size: 32px;
}
nav { 
    background: var(--accent1);
    padding: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search {
    display: none;
}
#stamp {
    padding: 2rem;
}
#logo {
    margin-top: 0.5rem;
    height: 65px; width: 170px;
}
#sticky-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    height: 65px;
    position: sticky; top: 0;
}
#hamburger {
    max-width: 50px;
}
.menu-item {
    display: none;
}
/* header/hero image of website */
header{
    max-height: 50rem;
    position: relative;
    display: flex;
}
#hero-image {
    /* z-index: 10; */
    position: relative;
    /* width: 100%; */
}
#curtain {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    /* clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100% ); */ 
    background-color: rgb(207, 50, 48, 0.6);
}
.t-on-color-bg{
    color: var(--accent1);
}
#curtain h1 {
    padding-top: 2rem;
}
#curtain a {
    color: var(--accent1);
    font-size: 1.5rem;
}
/* upcoming events section of website */
#upcomingEvents {
    background-color: var(--accent1b);
    column-gap: 15%;
    padding: 1.5rem;
    align-items: center;
    display: flex;
}
.all-events{
    position: relative;
    left: 0%;
}
#eventGallery {
    display: flex;
    justify-content: center;
    background: var(--secondary);
}
.event {
    margin: 1rem;
    width: 7rem;
}
.arrow{
    margin: 0;
    max-width: 50px;
}
.rotated {
    transform-origin: 50% 50%;
    transform: rotate(180deg);
}
/* content section of the website */
#content {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content-box {
    margin-bottom: 1rem;
}

.weather {
    background-color: var(--accent1b);
    height: 10rem;
    margin: 0 15rem 0 15rem;
    
}
.content-card{
    clip-path: circle(100%);
    height: 7rem;
    width: 7rem;
}
/* call to action section of the website */
#call-to-action {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#statment {
    position: relative;
    width: 100%; height: 13rem;
    padding: 1rem;
    font-size: 24px;
    background-color: var(--secondary);
}
#divider-image {
    top: 10rem;
    clip-path: ellipse();
    background-color: white;
    position: absolute;
    padding: 2rem;
    z-index: 10;
}
#learn-more {
    position: relative;
    padding-top: 7rem;
    width: 100%; height: 7rem;
    background-color: var(--primary);
}
/* footer section of website */
footer {
    background: var(--accent2);
}
.social-media-card{
    margin-top: 1rem;
}
#copyWrite {
    color: var(--accent1);
}
.highlight {
    color: yellow;
}
.open {
    border: none;
    display: flex;
    flex-direction: column;
    background-color: var(--accent1);
}
.close {
    display: none;
}


/* Discovery page css rules */

#discovery-grid {
    display: flex;
    flex-direction: column;
}
#sidebar {
    background-color: var(--secondary);
}
.stats {
    padding: 1rem;
}

.local-interest {
    width: 60% ;
    height: 60%;
}
/* ++++++++++++++ JOIN FORM +++++++++++++++ */
#join-grid {
    display: flex;
    flex-direction: column;
}
#benefits {
    padding: 1rem 5rem;
    background-color: var(--secondary);
    margin: 1rem 2rem;
}
#level-one {
    color: rgb(222, 197, 133);
}
#level-two {
    color: rgb(207, 207, 207);
}
#level-three {
    color: rgb(246, 255, 0);
}
#join-form {
    /* max-width:30rem; */
    margin: 1rem 2rem;
}
#join-form label.top, #join-form div  {
    display: block;
    padding-top: 1rem;
    color: var(--accent2);
    font-size: 0.8rem;
}
#join-form > fieldset:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
#join-submit {
    margin-top: 2rem;
    width: 50%;
    font-size: 1.25rem;
    height: 2rem;
    max-width: 10rem;
}
#join-form > fieldset {
    display: block;
    align-items: center;
    margin-bottom: 2rem;
}
li {
    list-style: none;
}
/* -------------------------------Directory ----------------- */
.dir-menu {
    margin: 1rem;
}

.grid-mode{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
}
.grid-mode ul {
    padding: 0;
}

.grid-mode section {
    margin: 0.25rem;
    box-shadow: 5px 5px 15px black;
}


.list-mode section {
    margin: 0 2rem;
    display: flex;
    padding: 1rem;
}