@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@media only screen and (min-width: 600px){
    :root {
        --primary-color: #001d2c;
        --secondary-color: #ffffff;
        --accent-color: #92166F;
        --accent-2-color: #00638f;
        --page-margin: 0rem;
    }    
 
    nav{
        padding: 1rem;
        justify-content: right;
        display: flex;
        flex-direction: row;
    }
    main {
        display: grid;
        max-width: 1800px;
        grid-template-columns: 1fr 1fr;
        margin: 1rem auto;
        padding: 20px;
    }
    h2 {
        text-align: center;
        grid-column: 1/3;
    }
    #project {
        text-align: center;
        grid-row: 2/3;
        grid-column: 2/3;
    }
    #learning-activities {
        grid-row: 2/4;
        grid-column: 1/2;
    }
    #information {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #information p {
        text-align: center;
    }    
}